[mysqld]
innodb_buffer_pool_size = 128M
innodb_log_file_size = 32M
max_connections = 50
key_buffer_size = 32M
thread_cache_size = 8
query_cache_size = 32M
query_cache_limit = 1M
join_buffer_size = 1M
max_heap_table_size = 32M
tmp_table_size = 32M
